@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
  --clr-magenta: hsl(300, 43%, 22%);
  --clr-pink: hsl(333, 80%, 67%);
  --clr-dk-gray: hsl(303, 10%, 53%);
  --clr-lt-gray: hsl(300, 24%, 96%);
  --clr-white: hsl(0, 0%, 100%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Spartan', sans-serif;
}

.back {
  height: 100vh;
  background-color: var(--clr-white);
  background-image: url(../images/bg-pattern-top-desktop.svg),
    url(../images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

.flex-one {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7em;
}

.greeting {
  background-color: transparent;
  color: var(--clr-magenta);
  width: 30rem;
  margin-right: 8em;
  margin-top: 5em;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.intro {
  margin-top: 0.8em;
  color: var(--clr-dk-gray);
  font-weight: 500;
}

.ratings {
  font-weight: 700;
  font-size: 0.85rem;
  margin-top: 7.5em;
}

.rating {
  color: var(--clr-magenta);
  background-color: var(--clr-lt-gray);
  margin-top: 1em;
  padding: 1em;
}

.rating::before {
  content: '';
  width: 5rem;
  height: 1rem;
  display: inline-block;
  background-image: url(../images/icon-star.svg);
  background-position: center center;
  background-size: contain;
}

.users {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  color: var(--clr-lt-gray);
  margin-top: 5em;
  font-size: 0.8rem;
}

.user {
  background-color: var(--clr-magenta);
  width: 25rem;
}

.verify {
  color: var(--clr-pink);
  font-size: ;
}
